@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-color: #e0e8ff;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 25px;
}

:root {
    --pale-blue: rgb(224 232 255);
    --bright-blue: rgb(56 41 224);
    --very-pale-blue: rgb(245 247 255);
    --desaturated-blue: rgb(114 128 167);
    --dark-blue: rgb(31 47 86);
}

.card-container {
    border-radius: 15px;
    overflow: hidden;
    max-width: 450px;
    background-color: #fff;
    text-align: center;
}

.illustration-hero {
    width: 100%;
}

.container-general {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
    margin: 30px;
}

.title {
    font-size: 1.3em;
    font-weight: 900;
    color: rgb(36 48 78);
}

.description {
    font-size: 0.9em;
    width: 90%;
    color: var(--desaturated-blue);
    font-weight: 500;
}

.block-plan {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fe;
    padding: 15px 0;
    border-radius: 15px;
    width: 100%;
}

.plan-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.9em;
}

.plan {
    font-weight: 900;
}

.cost {
    font-weight: 500;
}

.button-payment {
    color: var(--very-pale-blue);
    background-color: var(--bright-blue);
    font-weight: 900;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 20px var(--desaturated-blue);
}

.link-cancel-order {
    text-decoration: none;
    font-weight: 900;
    font-size: 0.9em;
    color: var(--desaturated-blue);
}

.link-change:link {
    color: var(--bright-blue);
    font-size: 0.9em;
    font-weight: 900;
}

.link-change:visited {
    color: var(--dark-blue);
}

.button-payment:hover {
    opacity: 0.75;
    text-decoration: none;
}

.link-cancel-order:link {
    color: var(--desaturated-blue);
    font-weight: 900;
}

.link-cancel-order:visited {
    color: var(--desaturated-blue);
    font-weight: 900;
}

.link-cancel-order:visited:hover {
    color: var(--dark-blue);
    font-weight: 900;
}

.link-cancel-order:link:hover {
    color: var(--dark-blue);
    font-weight: 900;
}

.link-change:visited:hover {
    color: var(--bright-blue);
}

@media screen and (min-width: 376px) {
    body {
        background-image: url("images/pattern-background-desktop.svg");
        background-position: top center;
        height: 100vh;
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    body {
        margin: 25px;
    }
}
